*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	/*padding: 50px;*/
	max-width: 1084px;
	margin: 0 auto;
}
header,ul{
	display: flex;
}
header{
	justify-content: space-between;
	height: 60px;
/*	border: 1px solid red;
*/	align-items: center;
	/*max-width1084px;*/
}
.header_navigation{
	width: 214px;
	justify-content: space-between;
}
a{
	color: #181818;
	transition: 300ms color ease;
}
a:hover{
	color: #badc58;
	transition: 300ms color ease;
}
.hero_content{
	height: calc(100vh - 60px);
	width: 100%;
	/*border: 1px solid red;*/
/*	position: relative;
*/	display: flex;
flex-direction: column;
align-content: center;
align-items: center;
justify-content: center;
color: #fff;	
}
.hero_content::before{
	content: "";
	display: block;
	position: absolute;
	width: 100vw;
	height: calc(100vh - 60px);
	top: 60px;
	bottom:0;
	left: 0;
	right: 0;
	background-color: #181818;
	opacity: 0.6;
	z-index: -1;

}

.hero{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hero_title{
	font-size: 50px;
	height: 58px;
	width: 692px;
	text-align: center;
	color: #FFFFFF;
}
.scroll_down{
	position: absolute;
	bottom: 112px;
	color: #fff;
}
.hero_more{
	margin-top: 20px;
	width: 192px;
	height: 48px;
	opacity: 100%;
	font-size: 14px;
	background:#BADC58;
	text-align: center;
	line-height: 48px;
	border-radius: 10px;
}
.main_pic{
	width: 100vw;
	height: calc(100vh - 60px);
	position: absolute;
	top: 60px;
	left: 0;
	z-index: -2;
	object-fit: cover;
}
.description{
	width: 308px;
	height: 38px;
    text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	padding: 22px;
}
.scroll_down{
	width: 76px;
	height: 43px;
	font-size: 10px;
	margin-top: 549px;

}
.arrow{
	/*width: 10px;
	height: 17.01px;*/
	padding: 30px;

}
/*.pasta{
	position: absolute;
	margin-right: 141px;
	margin-left: 141px;
	margin-top: 707px;
	margin-bottom: 530px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}*/
	
section,ul{
	
	display: flex;
	}

section{
	
	flex-wrap: wrap;
	justify-content: space-around;
}
/*}
.italia{
	text-align: top;
}*/